<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Acceuil</a></li>
		        	<li><a href="/projets">Oeuvres</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="peterbeer2018@u.northwestern.edu">email</a></li>
	        		<li><a href="https://github.com/Pebeer">github.com/Pebeer</a></li>
				</ul>
			</footer>
		</body>
	</html>
